@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Montserrat&display=swap');


* {
  /* Override default right margin for sidebar*/
  !--pagedjs-margin-right: 0.2in !important;
  !--pagedjs-margin-left: 0in;
  --pagedjs-margin-top: 0.2in;
  --pagedjs-margin-bottom: 0.2in;
}

img {
  border-radius:100px;
  margin-bottom:22px;
}

.aside {
  height: 100%;
  width: var(--sidebar-width) !important;
  padding-left: 0rem;
  padding-right: 0;
  padding-top: 0rem;
}


[data-id="main"] { 
  padding: 0 0.05in 0 0.05in;
}


.aside .level2 {
  margin-top: 0.25in;
}

/* Give headers playfair font */
  h1 {
    font-family: 'Lexend Deca', sans-serif;
    color: #9c6b08;
  }


:root {
  --sidebar-background-color: #f5f2ec; /* Make sidebar blue */
}

h2{
  font-family: 'Montserrat'; !important Open Sans
  font-weight: 400;
  font-size: 1.1rem;
  color: #555; 
    text-transform: uppercase;
}

h3{
  font-family: 'Montserrat';
  font-weight: 500;
  color: #9c6b08;
}



a {
  color: #095a95;
    
}

a:hover {
  text-decoration: underline dotted;
  
  
}


.aside ul {
  padding-left: 0.2rem;
}

.decorator::after {
  background-color: #356082;
}




b::title{
  color: #9c6b08;
    font-weight: 600;
}


p::title {
  
  text-align: justify;
}
